@import "tailwindcss";


/* SCROLL */
html {
  scroll-behavior: smooth;
}

/* RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* @theme {

  --color-primary: #004747;
  --color-secondary: #ff7a00;

  --color-surface: #ffffff;

  --color-text: #12312F;

  --color-border: #E5E7EB;

  --radius-card: 32px;
  --radius-button: 18px; */

BODY
body {
  min-height: 100vh;
  background: #F5F7F6;
  color: #12312F;
  font-family: "Poppins", sans-serif;
}

/* TRANSIÇÃO ENTRE SEÇÕES */
.section-transition {
  position: relative;
  transition: all 0.5s ease-in-out;
}
