@import "tailwindcss";

/* SCROLL */
html {
  scroll-behavior: smooth;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  min-height: 100vh;
  background: #F5F7F6;
  color: #12312F;
  font-family: "Poppins", sans-serif;
}

/* TRANSIÇÃO ENTRE SEÇÕES */
.section-transition {
  position: relative;
  transition: all 0.5s ease-in-out;
}